$style_color_green: #8FCC26;
$style_color_text: #000;
$style_color_text_secondary: #797979;
$style_color_gray: #F6F6F6;
$style_color_dark: #25262A;
$style_color_dark_secondary: #323232;

$style_effect_hover: rgba(143, 204, 38, 0.01);