@import "/src/ui/styles/style_diimmens.module.scss";
@import "/src/ui/styles/style_colors.module.scss";

.container {
    max-width: 1920px;
    padding: $padding_desktop;
    h2 {
        font-size: 36px;
        line-height: 42px;
    }
    h3 {
         display: none;
    }
    ol {
        list-style: none;
        counter-reset: item;
    }
    li {
        counter-increment: item;
        margin-bottom: 24px;
        position: relative;
        margin-bottom: 36px;

        h4 {
            all: unset;
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;
            margin-left: 12px;
            vertical-align: middle;        }
    }
    li:before {
        content: counter(item);
        background: #f6f6f6;
        border-radius: 100%;
        width: 36px;
        height: 36px;
        text-align: center;
        line-height: 36px;
        margin-bottom: 12px;
        display: inline-block;
     }
}

.head {
    display: flex;
    gap: 36px;
    border-radius: 22px;
    margin-bottom: 36px;
}

.header {
    width: 60%;
    margin-bottom: 36px;
}

.img_main {
    width: 330px;
    border-radius: 22px;
    object-fit: cover;
    img {
        border-radius: 22px;
    }
}

.text_main {
    background-color: #f6f6f6;
    border-radius: 15px;
    padding: 24px;
    width: 100%;
    .text_main_content {
        width: 500px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.btn {
    display: flex;
    gap: 20px;
}

.btn div {
    min-width: 100px;
}

.info {
    margin-bottom: 36px;
}

.resume {
    margin-bottom: 36px;
    background-color: #f6f6f6;
    padding: 24px;
    border-radius: 15px;
}

.gallery {
    border: 1px solid #000;
    border-radius: 15px;
    padding: 36px 0px;
    margin-bottom: 36px;
}
