@import "/src/ui/styles/style_diimmens.module.scss";
@import "/src/ui/styles/style_colors.module.scss";

.container {
    padding: $padding_desktop;
    background: $style_color_dark;
    color: $style_color_text_secondary;

    @media (max-width: 650px) {
        padding: $padding_mobile;
    }
}
.container_inner {
    display: flex;
    gap: 24px;

    > div {
        flex-basis: 50%;
    }
    p {
        margin-bottom: 12px;
    }
    .block {
        display: flex;
        gap: 12px;
        width: 100%;
        margin-bottom: 12px;
        .block1{
            flex-basis: 30%;
        }
        .block2 {
            flex-basis: 70%;
        }
    }

    .email {
        border: 1px solid $style_color_text_secondary;
        display: flex;
        gap: 12px;
        border-radius: 100px;
        padding: 6px 12px;
        width: fit-content;
        margin-bottom: 12px;
         .email_text {
            line-height: 24px;
        }
    }

    .logo {
        margin-bottom: 36px;
        justify-content: flex-start;
    }
}


.promo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;

    > p {
        font-size: 11px;
        font-weight: 300;
        margin-bottom: 16px;
    }
}

