@import "/src/ui/styles/style_diimmens.module.scss";
@import "/src/ui/styles/style_colors.module.scss";

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    max-width: 1920px;
    background: #fff;
}


.partners_container {
    margin-top: 100px;
    padding: $padding_desktop;
    @media (max-width: 650px) {
        padding: $padding_mobile;
    }
}

.header {
    > h1 {
        color: $style_color_text;
        font-size: 38px;
        font-weight: 700;

        @media (max-width: 650px) {
            font-size: 18px;
            margin-top: 55px;
            text-align: center;
        }
    }

    > p {
        color: $style_color_dark_secondary;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 24px;
        margin-top: 16px;
        max-width: 1000px;

        @media (max-width: 1000px) {
            font-size: 18px;
        }

        @media (max-width: 650px) {
            text-align: center;
        }
    }
}

.fields_container {
    padding: 34px;
    margin-top: 60px;
    background: $style_color_gray;
    border-radius: 27px;
}

.blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 650px) {
        flex-direction: column;
    }
}

.fields_first {
    flex: 1;
    margin-right: 25px;
        @media (max-width: 650px) {
        margin-right: 0px;
    }
}

.fields_second {
    flex: 1;
    margin-left: 25px;
    @media (max-width: 650px) {
        margin-left: 0;
        margin-top: 40px;
    }
}

.button {
    width: 100%;
}

.field_wrapper {

}

.checkbox {
    font-size: 20px;
    font-weight: 500;
}

.spacer {
    height: 40px;
}

.field_title {
    color: $style_color_text;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
}

.field {
    padding: 15px;
    font-size: 18px;
    border-radius: 180px;
    width: 100%;
    border: 1px solid white;
    transition: all .3s ease;

    ::placeholder {
        color: $style_color_text_secondary;
        opacity: 1;
    }

    ::-ms-input-placeholder {
        color: $style_color_text_secondary;
    }

    &:hover {
        border: 1px solid $style_color_green;
    }

    &:focus {
        border: 1px solid $style_color_green;
    }
}

.field_select {
    @extend .field;
    border: none;
}

.select_text {
    font-size: 18px;
    color: $style_color_text_secondary;
};

.select_div {
    height: 52px;
    border-radius: 180px;
}
.select_div > div {
    height: 100%;

}
