:root {
    --max-width: 1100px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    max-width: 100vw;
    scroll-behavior: smooth
}

a {
    color: inherit;
    text-decoration: none;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    border-radius: 50px;
}